div #formHODlist {
  padding:20px 50px 20px 50px;
  max-width:800px;
  margin:0 auto;
  margin-top:65px;
  border: 5px solid grey;
  border-style: groove;
}
wrapper .btn .btn-default .btn-lg {
  margin: 0 auto;
}

textarea #message {
  border-style: groove;
}

.ulLink {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ulLink ul li{
  display: inline-block;
  padding: 0px 20px 0px 10px;
}

.ulLink ul li a{
  color: #73879C !important;
} 

#formTH{
  padding:20px 30px 20px 30px;
  max-width:940px;
  margin:0 auto;
  margin-top:5px;
}

#formHOD{
  padding: 20px 30px 20px 30px;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 55px;
}

#sub {
  padding:0px !important;
  max-width:1100px !important;
  margin:0 auto !important;
  margin-top:0px !important;
}